@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --ubuntu-font: 'Ubuntu', sans-serif;
}

html {
    font-family: var(--ubuntu-font);
}

button {
    font-family: var(--ubuntu-font);
    background: linear-gradient(to left, #a6e643, #65cd9b 50%);
    font-weight: 700;
}

a {
    color: white;
    text-decoration: none;
}

.first-section, .second-container, .section-footer {
    background-color: #08170e;
    padding-top: 1rem;
}

.navbar, .section-one, .section-two, .section-three {
    padding-left: 5rem;
    padding-right: 5rem;
}

.navbar {
    height: 10rem;
}

.navbar img {
    height: 10vh;
}

.navbar, ul {
    display: flex;
}

.navbar ul {
    margin-left: auto;
    color: #e5e7eb;
    font-size: 18px;
}

.navbar ul li {
    list-style: none;
    justify-content: space-between;
    margin-right: 1.5rem;
}

.section-one {
    display: flex;
    padding-bottom: 3rem;
    padding-bottom: 1.3rem;
}

.section-one h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 1rem;
}

.section-one p {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

.btn-one {
    margin-top: 2rem;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    width: 10rem;
    height: 3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 17px;
}

.section-one img {
    width: 95%;
    margin-left: 1rem;
}

.section-two, .section-four {
    background-color: #9eb96683;
}

.section-two {
    padding-top: 3rem;
    padding-bottom: 20rem;
    max-height: 110vh;
    overflow:auto
}

.section-two-title {
    text-align: center;
    margin-bottom: 2.5rem;
}


.section-two h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.section-two-images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 3rem;
    width: 11rem;
}

.skills-div {
    line-height: 1.4rem;
}

.skills {
    font-size: 16px;
}

.imgs-container {
    text-align: center;
    align-items: center;
    margin: 1rem;
    width: 11rem;
    height: 11rem;
}

.img-1, .img-2, .img-3, .img-4 {
    object-fit: contain;
    border: 5px solid #2d6149;
}

.section-two-images img {
    width: 100%;
}

.section-three {
    background-color: #e5e7eb;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section-three h3 {
    padding-top: 1rem;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.author {
    font-weight: bold;
    text-align: end;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.section-four {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.call {
    display: flex;
    background-color: #08170e;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    color: #f9fAf8;
}

.left-side-four {
    text-align: start;
    margin: auto 0;
    line-height: 1.4rem;
}

.right-side-four {
    display: flex;
    margin: 0 0 0 auto;
    justify-content: end;
    align-content: center;
}

.call button {
    margin: 1rem;
    background-color: #08170e;
    border: 1px solid #f9fAf8;
    border-radius: 5px;
    color: #f9fAf8;
    padding: 0.5rem;
    width: 5rem;
}

.section-footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-footer p {
    color: #f9fAf8;
}